<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <authorization>
    <allow pages="BaculumError,Requirements" users="*" />
    <allow pages="Home,RestoreWizard,API.*,Monitor" roles="admin,user" />
    <allow pages="ConfigurationWizard" roles="admin" />
    <deny users="*" />
  </authorization>
</configuration>