cert.out
diff
time.out
1
*/1
config
DartConfiguration.tcl
DartTestfile.txt
Testing
bin
build
scripts/*.conf
test.out
tmp
weird-files
weird-files2
working
dumps
working2
scripts/bacula-dir.conf.accurate
scripts/bacula-dir.conf.errors
scripts/bacula-dir.conf.maxruntime
scripts/bacula-dir.conf.maxtime
scripts/bacula-dir.conf.regexwhere
scripts/bacula-dir.conf.testrunscript
scripts/cleanup-2drive
scripts/cleanup-2tape
scripts/cleanup-tape
scripts/prepare-fake-autochanger
scripts/prepare-two-tapes
scripts/regress-config
scripts/update-ctest
scripts/mtx-changer
