[Unit]
Description=Baculum WebGUI Bacula Community tool
After=network.target

[Service]
PIDFile=/var/run/baculum.pid
ExecStart=/usr/sbin/lighttpd -f /etc/baculum/baculum.lighttpd.conf

[Install]
WantedBy=multi-user.target

